@import './styles/button.css';
@import './styles/input.css';
@import './styles/select.css';

.title {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff; /* Change the text color to white */
  margin-bottom: 10px;
}

body {
  background-color: #003066;
  color: white;
}